<h1>All movies currently in theater</h1>
<!-- <h2>Film was said <em><%= @i %> times</em></h2> -->
<% @movies_and_score.each do |movie_title, score| %>
<ul>
	<li><%= movie_title %></li>
	<li><%= score %></li>
</ul>
<% end %>




